@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


/* custom colors */
@theme {
  --color-topbar: oklch(45.5% 0.188 13.697);
  --color-navHover: oklch(39.6% 0.141 25.723);
  --color-nav: oklch(92.8% 0.006 264.531);
  --color-navText: oklch(20.8% 0.042 265.755);
  --color-cartCard: oklch(97.1% 0.013 17.38);
  --color-cartCardText: oklch(20.8% 0.042 265.755);
  --color-cartCardButtons: oklch(70.7% 0.022 261.325);
  --color-cartCardButtonsText: black;
  --color-cartSummary: oklch(92.8% 0.006 264.531);
  --color-summaryText: black;
  --color-summaryButtons: oklch(45.5% 0.188 13.697);
  --color-summaryButtonsText: white;
  --color-checkoutButtons: oklch(20.8% 0.042 265.755);
  --color-checkoutButtonsHover: oklch(20.8% 0.042 265.755);
  --color-checkoutButtonsText: white;
  --color-active: oklch(39.6% 0.141 25.723);
  --color-footer: oklch(21.6% 0.006 56.043);
  --color-footerTextTitle: oklch(27.8% 0.033 256.848);
  --color-footerText: oklch(55.1% 0.027 264.364);
  --color-blue: #0d6efd;
  --color-black: #000000;   
  --color-gray: #6b7280;
  --color-1:v#a5243d;
  --color-2: #b48291;
}

/* custom screen sizes */
@theme {
   --breakpoint-xs: 420px;
} 

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  height: 100vh;
} 

