@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


/* custom colors */
@theme {
  --color-topbar: #ea2e0e;
  --color-nav-hover: #ea2e0e;
}

/* custom screen sizes */
@theme {
   --breakpoint-xs: 420px;
} 

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  height: 100vh;
} 

