@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


/* custom colors */
@theme {
  --color-topbar: black;
  --color-nav-hover: #a5243d;
  --color-nav: oklch(92.8% 0.006 264.531);
  --color-nav-text: oklch(39.6% 0.141 25.723);
  --color-cartCard: oklch(96.9% 0.015 12.422);
  --color-cartSummary: oklch(92.8% 0.006 264.531);
  --color-summaryButtons: oklch(45.5% 0.188 13.697);
  --color-checkoutButtons: gray;
  --color-active: oklch(39.6% 0.141 25.723);
  --color-blue: #0d6efd;
  --color-black: #000000;   
  --color-gray: #6b7280;
  --color-1:v#a5243d;
  --color-2: #b48291;
}

/* custom screen sizes */
@theme {
   --breakpoint-xs: 420px;
} 

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  height: 100vh;
} 

